h1,h2,h3,h4,h5,h6,p,a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.custom_container {
  /* background-color: #ffffff;  */
  color: #212529; /* Dark text */
  min-height: 100vh;
  overflow-x: hidden;
}
