/* index.css or ProblemPage.css */
.custom_container {
  background-color: #1c2229; /* GitHub dark background */
  color: #ffffff; /* Light text */
}
.main{
    margin-top: 100px;
}
input.form-control {
  color: #ffffff;                  
  border: 1px solid black;
  outline: none;
}

button.btn-outline-secondary {
  border: 1px solid grey;
}
