.custom_class{
    /* background: #1c2229; */
}
.content{
    padding: 50px; color: #212529;
}
.content p{
    text-align: start;
    padding: 10px;
}
.content p span{
    color: #679add;
}
.content ul li{
    padding: 10px;
}   
.content ol li{
    padding: 10px;
}   