figure, .figure, .picture{
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.custom_container {
  /* background-color: #ffffff; */
  min-height: 100vh;
  color: #212529;
}
.first_col{
    background: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}
.custom_container .row .first_col .picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


